@import 'settings/color_variables';
@import 'settings/mixins';
@import 'settings/z-index_variables';
@import 'settings/typography';
@import 'settings/images';

@import 'components/App';
@import 'components/Knobs';
@import 'components/knobs/VolumeKnob';
@import 'components/knobs/ParamKnob';
@import 'components/Screen';
@import 'components/Buttons';
@import 'components/buttons/KeyButton';
@import 'components/buttons/ShiftButton';

html {
  @include sizing(100%, 100%);
}

body {
  @include sizing(100%, 100%);
  display: flex;
  margin: 0;
}

.root {
  @include sizing(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
