@import 'settings/color_variables';
@import 'settings/mixins';
@import 'settings/z-index_variables';
@import 'settings/typography';

@import 'components/Select';
@import 'components/App';
@import 'components/KnobsPanel';
@import 'components/ModulationKnob';
@import 'components/FilterKnob';
@import 'components/Rack';
@import 'components/Settings';
@import 'components/Error';

html {
  @include sizing(100%, 100%);
}

body {
  @include sizing(100%, 100%);
  display: flex;
  margin: 0;
}

.root {
  @include sizing(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
