$color-brown: #8b5a2b;
$color-beige: #eedfcc;
$color-light-gray: #cdc0b0;
$color-dark-gray: #a9a9a9;
$color-white: #fff;
$color-green: #9acd32;
$color-black: #000;
$color-red: #f00;
$color-yellow: #ff0;
