.ShiftButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  top: 317px;
  left: 105px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
