$App_border-width: 8px;
$App_border-color: $color-brown;

.App {
  width: 1280px - 2 * $App_border-width;
  height: 756px - 2 * $App_border-width;
  font-family: $ff-pokemon;
  font-size: $fs-regular;
  background-color: $color-beige;
  border: $App_border-width solid $App_border-color;
}
