$App_border-size: 8px;
$App_border-color: $color-brown;

.App {
  width: 800px - 2 * $App_border-size;
  height: 600px - 2 * $App_border-size;
  font-family: $ff-pokemon;
  font-size: $fs-regular;
  background-color: $color-beige;
  border: $App_border-size solid $App_border-color;
}
