$Rack_border-width: 8px;
$Rack_border-color: $color-light-gray;

.Rack {
  display: flex;
  width: 784px - 2 * $Rack_border-width;
  height: 210px - 2 * $Rack_border-width;
  border: $Rack_border-width solid $Rack_border-color;
  border-top: 0;
}
