$Settings_border-width: 8px;
$Settings_border-color: $color-light-gray;

.Settings {
  display: inline-flex;
  width: 240px - 2 * $Settings_border-width;
  height: 140px - 2 * $Settings_border-width;
  vertical-align: top;
  border: $Settings_border-width solid $Settings_border-color;

  .row {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    padding: 2px;

    .label {
      margin-right: 2px;
    }
  }
}
