$Settings_border-size: 8px;
$Settings_border-color: $color-gray;

.Settings {
  display: inline-flex;
  width: 240px - 2 * $Settings_border-size;
  height: 140px - 2 * $Settings_border-size;
  vertical-align: top;
  border: $Settings_border-size solid $Settings_border-color;

  .row {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    padding: 2px;

    .label {
      margin-right: 2px;
    }

    .Select {
      display: inline-flex;
      width: 110px;
      height: 23px;
      margin-left: 2px;

      &-control {
        height: 23px;
      }

      &-value {
        line-height: 23px;
      }

      &-input {
        height: 23px;
      }
    }
  }
}
