$InstrumentHeader_button-border-color: $color-brown;
$InstrumentHeader_button-border-width: 2px;

.InstrumentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  padding: 0 2px;

  .label {
    margin-right: 2px;
  }
}
