.PolySynthSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  .label {
    display: block;
    margin-bottom: 2px;
    margin-left: 4px;
    font-size: 7px;
  }

  .voice-settings {
  }

  .polyphony-settings {
  }
}
